/* Index page specific styles */

html {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: "Atkinson", sans-serif;
	background: #000;
	color: #fff;
	height: 100%;
	overflow: hidden;
}

.page-wrapper {
	height: 100%;
	overflow-y: auto;
	overflow-x: clip;
}
